
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.header-content{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
 
}

.header-content p {
    box-shadow: -2px 5px 15px -7px rgb(0, 255, 64);
    text-shadow: 3px 2px 3px rgb(147, 219, 38);
    height: 230px;
    width: 590px;
    background-color: black;
    border-radius: 10px;
    line-height: 2.1;
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

/*HEADER CAROUSEL COMPONENT CSS*/

.header-carousel{
  margin-left: 15%;
   width: 75%;
   
}

.image-container{
    background-image: linear-gradient(to right, greenyellow, black 20%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 10px;

}

.image:hover{
    transform: scale(1.1);
    transition-duration: 0.6s;
}

.random-books{
    display: flex;
     justify-content: center;
      margin-Top: 10%; 
      color: greenyellow;
      font-size: 25px;
      font-family: 'Shizuru', cursive;
}