
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.header-content{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
 
}

.header-content p {
    box-shadow: -2px 5px 15px -7px rgb(0, 255, 64);
    text-shadow: 3px 2px 3px rgb(147, 219, 38);
    height: 230px;
    width: 590px;
    background-color: black;
    border-radius: 10px;
    line-height: 2.1;
    padding-top: 25px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}