
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.navbar{
    background-color: black;
}

.navbar-brand a {
    color: greenyellow;
    font-size: 30px;
    font-family: 'Shizuru', cursive;
    text-decoration: none;
    text-shadow: 2px 2px 8px yellow;
    margin-left: 10px;
}


/* mobile view and other devices css */

@media (max-width: 820px){
    .navbar-brand a{
        margin-left: 0px;
    }
 
}


