@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.footers div{
    padding-bottom: 5%;
     padding-top: 5%;
     display: 'flex';
}
.footer-content{
    color: greenyellow;
    background-color: rgb(9, 44, 9);
    width: 30%;
    font-size: 18px;
    padding: 60px 50px 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.footer-content ul li{
    list-style-type: none;
}
.footer-content ul li a{
    text-decoration: none;
    color: white;
}

.footer-content2{
    background-color: rgb(123, 170, 36);
    
}

.input-container{
  padding:  50px 40px 50px;
}

.footer-label{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.footer-input{
    border-color: white;
    border-radius: 5px;
}

.input-button{
    border-color: white;
    background-color: rgb(16, 63, 16);
    color: white;
    font-size: 16px;
    font-weight: 500; 
    border-radius: 5px;
}

.footer-content3{
    background-color: rgb(9, 44, 9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer-brand{
    color: greenyellow;
    text-shadow: 2px 2px 8px yellow;
    margin-top: 40px;
    padding: 120px 100px 120px;
    font-family: 'Shizuru', cursive;
    font-size: 30px;
}

/*footer mobile view css*/

@media (max-width: 820px){

    .footer-content{
        width: 100%;
        display: flex;
        justify-content: center;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .footer-content2{
        width: 100%;
       
    }
    .footer-content3{
        width: 100%;
        display: flex;
        justify-content: center;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
    .footer-input{
        width: 100%;
        border-radius: 5px;
       margin-bottom: 20px;
    }
    .input-button{
        border-radius: 5px;
        float: right;
    }

    .input-container{
        padding-bottom: 40px;
    }

    .footer-content3 .footer-brand{
        margin-bottom: 40px;
    }

    .footer-container{
        display: inline-block !important;
    
     }
}



@media 
(device-width: 768px)
and (device-height: 1024px) { 
 .footer-container{
 width: 100%;
}
}


@media 
(device-width: 820px)
and (device-height: 1180px) { 
 .footer-container{
 width: 100%;
}
}

