@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.footer-content{
    color: greenyellow;
    background-color: rgb(9, 44, 9);
    width: 30%;
    font-size: 18px;
    padding: 60px 50px 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.footer-content ul li{
    list-style-type: none;
}
.footer-content ul li a{
    text-decoration: none;
    color: white;
}

.footer-content2{
    background-color: rgb(123, 170, 36);
}

.input-container{
  padding: 90px 40px 10px 40px;
}

.footer-label{
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.footer-input{
    border-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-button{
    border-color: white;
    background-color: rgb(16, 63, 16);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer-content3{
    background-color: rgb(9, 44, 9);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.footer-brand{
    color: greenyellow;
    text-shadow: 2px 2px 8px yellow;
    padding: 120px 100px 120px;
    font-family: 'Shizuru', cursive;
    font-size: 30px;
}