.comic{
    background-image: linear-gradient(to right, rgb(77, 113, 22),  black, rgb(77, 113, 22));
    display: flex;
    justify-content: center;
}

.comic-container{
 display: grid;
 grid-template-columns: repeat(6, 1fr) ;
 margin-top: 2%;
 margin-bottom: 50px;
 gap: 10px;
}


.comic-image{
    border-radius: 10px;
}

.pagination li.active a{
    background-color: green !important;
    border: 1px solid black !important;
}

.comic-button{
    padding: 2px 20px 2px;
    background-color: yellow;
    border-radius: 5px;
}